.read-more {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
}

.read-more img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.card {
  padding: 42px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: start;

  border-radius: 45px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 6px solid #000;
  border-left: 1px solid #000;

  @media (min-width: 1024px) {
    width: auto;
    border-radius: 0;
    border-top: none;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  &:nth-child(3),
  &:nth-child(6) {
    @media (min-width: 1024px) {
      border-right: none;
    }
  }

  &:last-child {
    @media (min-width: 1024px) {
      border-bottom: none;
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    @media (min-width: 1024px) {
      border-bottom: none;
    }
  }
}

.insight-card-description {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-align: start;
}
