@import "../components/blog/hero";
@import "../components/blog/blog";
@import "../components/blog/facts";
@import "../components/blog/insights";

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .card:last-child {
    border-bottom: none;
  }
}
