.cta button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.case-studies,
.team {
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 70px;
  overflow: hidden;
}

.cta-text {
  margin-bottom: 60px;
  overflow: hidden;

  @media (min-width: 1024px) {
    margin-bottom: 140px;
  }
}

.cta-title {
  text-align: center;

  @media (min-width: 1024px) {
    width: 60%;
    text-align: start;
  }
}

.cta-content {
  position: relative;
  background-color: #f3f3f3;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 45px;
  padding: 50px;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
    height: 350px;
    padding: 60px;
  }
}

.cta-background {
  background-color: #b9ff66;
}

.cta-text h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 500;
}
.cta-text p {
  font-size: 18px;
  margin-bottom: 25px;
}
.cta-button {
  text-align: center;
  background: #191a23;
  color: white;
  padding: 20px 35px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  text-decoration: none;
  border-radius: 14px;
  display: inline-block;
  border: 1px black solid;
  transition: background-color 200ms linear, color 200ms linear;
}

.cta-button:hover {
  background-color: #fff;
  color: black;
}

.cta-logo {
  transform: scale(1.15);

  @media (max-width: 768px) {
    display: none;
  }
}

.cta-icon {
  position: absolute;
  right: 0;
  top: -23px;
  width: 395px;
  height: 395px;

  @media (max-width: 1024px) {
    display: none;
  }
}
