.cta button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.case-studies,
.team {
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 70px;
}

.cta-text {
  margin-bottom: 140px;
}

.cta-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 45px;
  gap: 160px;
}

.cta-text h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: 500;
}
.cta-text p {
  font-size: 18px;
  margin-bottom: 25px;
}
.cta-button {
  background: #191a23;
  color: white;
  padding: 20px 35px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  text-decoration: none;
  border-radius: 14px;
  display: inline-block;
  border: 1px black solid;
  transition: background-color 200ms linear, color 200ms linear;
}

.cta-button:hover {
  background-color: #fff;
  color: black;
}

.cta-logo {
  transform: scale(1.15);
}
