.swiper-slide {
}

.swiper-1 {
  overflow: hidden;
}

.swiper-2 {
  background: #191a23;
  border-radius: 45px;
  overflow: hidden;
  padding: 84px 0px 68px 0px;
  margin-bottom: 140px;
}

.swiper-slide-1{
  margin-left: 15px;
}