
.testimonials {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
}

.testimonial {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.testimonial-title {
  color: #b9ff66;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 500;
}

.testimonial-border {
  background-repeat: no-repeat;
  border-color: #b9ff66;
  width: 100%;
  padding: 20px 50px 20px 30px;

  @media (min-width: 768px) {
    height: 280px;
    max-width: 622px;
    padding: 64px 52px 48px 53px;
    background-image: url("../../../images/comment-border.png");
  }
}

.testimonial-wrapper {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 400;
}

.testimonial-bottom {
  text-align: start;
  padding-left: 30px;
  padding-right: 40px;

  @media (min-width: 768px) {
    padding-left: 75px;
  }
}

.slider-controls button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.swiper-2 {
  background: #191a23;
  border-radius: 45px;
  overflow: hidden;
  padding: 40px 0;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    padding: 84px 0 68px;
    margin-bottom: 140px;
  }
}

/* Адаптив для мобильных устройств */
// @media (max-width: 768px) {
//   .testimonial {
//     width: 95%;
//     padding: 16px;
//   }

//   .testimonial-title {
//     font-size: 18px;
//     text-align: center;
//   }

//   .testimonial-border {
//     height: auto;
//     max-width: 100%;
//     padding: 32px 20px;
//     background-size: cover;
//     background-position: center;
//   }

//   .testimonial-wrapper {
//     font-size: 16px;
//   }

//   .testimonial-bottom {
//     padding-left: 20px;
//     text-align: left;
//   }

//   .slider-controls button {
//     font-size: 20px;
//     margin-top: 8px;
//   }

//   .swiper-2 {
//     padding: 40px 0 40px 0;
//     margin-bottom: 80px;
//     border-radius: 24px;
//   }
// }
