.footer {
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 15px;
  }
}

.footer-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer-text {
  display: flex;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: $dark;
  border: none;
  padding: 50px 20px 30px 20px;

  @media (min-width: 768px) {
    border-radius: 45px 45px 0px 0px;
    padding: 55px 60px 50px 60px;
  }
}

.footer-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 56px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.footer .nav-link {
  color: #fff;
}

.footer .nav-link:hover {
  color: #000;
}

.footer-contact {
  display: flex;
  gap: 37px;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 154px;
  }
}

.contacts {
  width: 126px;
  height: 26px;
  background-color: #b9ff66;
  border: none;
  border-radius: 5px;
  padding: 0px 7px;
  font-size: 20px;
  margin-bottom: 27px;
  font-family: "Space Grotesk";
  font-weight: 500;
  line-height: normal;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-btn {
  background: #b9ff66;
  border-radius: 14px;
  border: none;
  font-family: "Space Grotesk";
  font-size: 20px;
  line-height: 1.4;
  cursor: pointer;
  padding: 20px 35px;
  flex-grow: 1;
  transition: background-color 150ms linear;
}

.subscribe-btn:hover {
  background-color: #98e737;
}

.subscribe {
  background-color: #b4ff67;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: start;
  }
}

.input-wrapper {
  border-color: white;
  background-color: #292a32;
  color: white;
  border-radius: 14px;
  padding: 22px 35px;
  flex-grow: 1;
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: normal;
}

.input-wrapper::placeholder {
  color: white;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  background: #292a32;
  padding: 30px;
  flex-grow: 1;
  gap: 20px;

  @media (min-width: 768px) {
    padding: 58px 40px;
    gap: 20px;
    display: flex;
  }
}

.input-group {
  display: grid;
}

.footer-privacy,
.footer-right {
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  line-height: 1.55;

  @media (min-width: 768px) {
  }
}

.footer-logo-icon {
  color: #fff;
}

.line-footer {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.contacts-info {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  font-family: "Space Grotesk";
  font-size: 18px;

  @media (min-width: 768px) {
    align-items: start;
  }
}

.footer-contact-link {
  color: white;
  letter-spacing: 0.03em;
  transition: color 200ms linear;
}

.footer-contact-link:hover {
  color: #dfdddd;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    align-items: start;
  }
}
